<div ng-controller="ArticleCtrl">
  <form action="" ng-submit="search()">
    <input type="text" ng-model="query">
    <input type="submit">
  </form>
  <ul>
    <li ng-repeat="article in articles">
      <a ui-sref=".details({ name:article.name })">
        {{ article.artist['#text'] }} - {{ article.name }}
      </a>
    </li>
  </ul>

  <div ui-view></div>
</div>
